<tr>
    <td>
        <%= image_tag "muroya", class: "rounded-img" %>
    </td>
    <td>
        <p>室谷　成</p>
    </td>
    <td>
        <p>FC東京</p>
    </td>
    <td>
        <p>JPN</p>
    </td>
    <td>
        <p>RSB</p>
    </td>
    <td>
        <p>+12</p>
    </td>
    <td>
        <%= link_to "購入", "#", class: "buy-button modal-open" %>
        <%= link_to "売却", "#", class: "sell-button modal-open" %>
        <button class="watch-button">
            <%= image_tag "scope" %>
        </button>
    </td>
</tr>