<div class="chart-menu">
    <div class="chart-menu-item" id="chart_menu_item_0">
        <p>24時間</p>
    </div>
    <div class="chart-menu-item" id="chart_menu_item_1">
        <p>1週間</p>
    </div>
    <div class="chart-menu-item chart-menu-item-selected" id="chart_menu_item_2">
        <p>1ヶ月</p>
    </div>
    <div class="chart-menu-item" id="chart_menu_item_3">
        <p>3ヶ月</p>
    </div>
    <div class="chart-menu-item" id="chart_menu_item_4">
        <p>6ヶ月</p>
    </div>
    <div class="chart-menu-item" id="chart_menu_item_5">
        <p>1年</p>
    </div>
</div>