<tr>
    <th></th>
    <th>
        <p>選手名</p>
    </th>
    <th>
        <p>株数</p>
    </th>
    <th>
        <p>買値</p>
    </th>
    <th>
        <p>購入額</p>
    </th>
    <th>
        <p>購入日時</p>
    </th>
</tr>