<tr>
    <th></th>
    <th>
        <p>選手名</p>
    </th>
    <th>
        <p>所有株数</p>
    </th>
    <th>
        <p>買値</p>
    </th>
    <th>
        <p>現在の売値</p>
    </th>
    <th>
        <p>利益</p>
    </th>
    <th>
        <p>24h</p>
    </th>
    <th>
        <a href="" class="sort-button">
            価値順
            <%= image_tag "down" %> 
        </a>
        <ul class="sort-nav">
            <li>aaa</li>
            <li>bbb</li>
            <li>ccc</li>
        </ul> 
    </th>
</tr>