<tr>
    <th></th>
    <th>
        <p>選手名</p>
    </th>
    <th>
        <p>株数</p>
    </th>
    <th>
        <p>現在の売値</p>
    </th>
    <th>
        <p>売却額</p>
    </th>
    <th>
        <p>24h</p>
    </th>
</tr>