<tr>
    <td>
        <%= image_tag "muroya", class: "rounded-img" %>
    </td>
    <td>
        <p>室谷　成</p>
    </td>
    <td>
        <p>100</p>
    </td>
    <td>
        <p>650</p>
    </td>
    <td>
        <p>643</p>
    </td>
    <td>
        <p>+700</p>
    </td>
</tr>