<form>
    <h1 class="form-title">ユーザ登録</h1>
    <div>
        <label class="form-label">メールアドレス</label>
        <input class="form-field" type="text">
    </div>
    <div>
        <label class="form-label">パスワード</label>
        <input class="form-field" type="password">
    </div>
    <div>
        <label class="form-label">パスワードの確認</label>
        <input class="form-field" type="password">
    </div>
    <div>
        <label class="form-label">電話番号</label>
        <input class="form-field" type="text">
    </div>

    <button class="form-button">続ける</button>

    <%= link_to "既に登録されている方はこちら", "#", class: "green-link" %>
</form>