<div class="user-info">
    <div class="user-header">
        <h2>ThisIsAUser1234</h2>
        <p>id: qoAFhqopwhAdqplkas</p>
    </div>
    <div class="user-cell" id="user_cell_1">
        <%= image_tag "mail" %>
        <p>example@example.com</p>
    </div>
    <div class="user-cell" id="user_cell_2">
        <%= image_tag "mail" %>
        <p>example@example.com</p>
    </div>
    <div class="user-cell" id="user_cell_3">
        <%= image_tag "mail" %>
        <p>example@example.com</p>
    </div>
    <div class="user-cell" id="user_cell_4">
        <%= image_tag "mail" %>
        <p>example@example.com</p>
    </div>
</div>

