<div class="dividend-item">
    <div class="dividend-item-header">
        <%= image_tag "medal" %>
        <p>ブロンズマッチ</p>
    </div>
    <div class="dividend-item-cell">
        <table>
            <tr>
                <th>ポジション</th>
                <th>配当</th>
            </tr>
            <tr>
                <td>TOP FWD</td>
                <td>5</td>
            </tr>
            <tr>
                <td>TOP MID</td>
                <td>5</td>
            </tr>
            <tr>
                <td>TOP DEF</td>
                <td>5</td>
            </tr>
            <tr>
                <td>TOP GK</td>
                <td>5</td>
            </tr>
        </table>
    </div> 
</div>