<div class="dividend-items">
  <div class="dividend-item">
    <div class="dividend-item-header">
      <%= image_tag "system/medal" %>
      <p>ベスト11</p>
    </div>
    <div class="dividend-item-cell">
      <table>
        <tr>
          <th>ポジション</th>
          <th>配当</th>
        </tr>
        <tr>
          <td>FWD</td>
          <td>3</td>
        </tr>
        <tr>
          <td>MID</td>
          <td>3</td>
        </tr>
        <tr>
          <td>DEF</td>
          <td>3</td>
        </tr>
        <tr>
          <td>GK</td>
          <td>3</td>
        </tr>
      </table>
    </div> 
  </div>

  <div class="dividend-item">
    <div class="dividend-item-header">
      <%= image_tag "system/medal" %>
      <p>チーム勝利</p>
    </div>
    <div class="dividend-item-cell">
      <table>
        <tr>
          <th>ポジション</th>
          <th>配当</th>
        </tr>
        <tr>
          <td>FWD</td>
          <td>1</td>
        </tr>
        <tr>
          <td>MID</td>
          <td>1</td>
        </tr>
        <tr>
          <td>DEF</td>
          <td>1</td>
        </tr>
        <tr>
          <td>GK</td>
          <td>1</td>
        </tr>
      </table>
    </div> 
  </div>

  <div class="dividend-item">
    <div class="dividend-item-header">
      <%= image_tag "system/medal" %>
      <p>得点</p>
    </div>
    <div class="dividend-item-cell">
      <table>
        <tr>
          <th>ポジション</th>
          <th>配当</th>
        </tr>
        <tr>
          <td>FWD</td>
          <td>1</td>
        </tr>
        <tr>
          <td>MID</td>
          <td>2</td>
        </tr>
        <tr>
          <td>DEF</td>
          <td>4</td>
        </tr>
      </table>
    </div> 
  </div>

  <div class="dividend-item">
    <div class="dividend-item-header">
      <%= image_tag "system/medal" %>
      <p>無失点</p>
    </div>
    <div class="dividend-item-cell">
      <table>
        <tr>
          <th>ポジション</th>
          <th>配当</th>
        </tr>
        <tr>
          <td>GK</td>
          <td>1</td>
        </tr>
      </table>
    </div> 
  </div>
</div>