<tr>
    <th>

    </th>
    <th>
        <p>選手名</p>
    </th>
    <th>
        <p>所属チーム</p>
    </th>
    <th>
        <p>国籍</p>
    </th>
    <th>
        <p>ポジション</p>
    </th>
    <th>
        <p>24h</p>
    </th>
    <th>
        <a href="" class="sort-button">
            価値順
            <%= image_tag "down" %> 
        </a>
        <ul class="sort-nav">
            <li>aaa</li>
            <li>bbb</li>
            <li>ccc</li>
        </ul> 
    </th>
</tr>