<table class="player-table">
  <%= render "players/shared/header" %>
  <% @players.each do |player| %>
    <%= render partial: "players/shared/cell", locals: { player: player } %>
  <% end %>
</table>
<%= render "shared/modal" %>
<%= javascript_pack_tag 'modal' %>
