<table class="player-table">
  <%= render "players/shared/header" %>
  <% (1..10).each do |n| %>
    <%= render "players/shared/cell" %>
  <% end %>
</table>

<%= render "shared/modal" %>
<%= javascript_pack_tag 'modal' %>
