<tr>
    <td>
        <%= image_tag "muroya", class: "rounded-img" %>
    </td>
    <td>
        <p class="buy-user">〇〇さんが購入</p>
        <p class="buy-info">室谷　成 x 100</p>
    </td>
    <td>
        <p class="buy-cost">67273</p>
    </td>
</tr>