<table class="activity-table">
    <div class="table-header">
        <p>最近の動向</p>
    </div>
    <% buy_histories = recent_buy_histories %>
    <% if buy_histories.present? %>
        <% buy_histories.each do |buy_history| %>
            <%= render partial: "shared/activity/activity_cell", locals: { buy_history: buy_history } %>
        <% end %>
    <% else %>
        <%= render "shared/no_data" %>
    <% end %>
</table>