$light-green: #32c46f;
$green: #2eab61;
$white-green: #e7fff2;
$white: #ffffff;
$light-white: #e5e5e5;
$black: #222222;
$light-gray: #e5e5e5;
$lightest-green: #81ecac;
$light-yellow: #f9fcf1;
$off-red: #ee827c;
$off-blue: #a0d8ef;
$blue: #0095d9;
