@import "color";
@import "font";

#notice {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: rgba(0.2, 0.2, 0.2, 0.8);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 100;
  align-items: center;
  box-shadow: 0 5px 10px -2px $black;

  h3 {
    width: 240px;
    text-align: center;
    color: $white;
    font-size: $font-big;
  }

  p {
    width: 240px;
    text-align: center;
    color: $white;
    font-size: $font-middle;
  }
}

@media screen and (max-width: 480px) {
  #notice {
    bottom: 25px;
  }
}
