@import "color";
@import "font";

.pagination {
  margin: 60px 0 40px;
  display: flex;
  justify-content: flex-end;

  span {
    display: block;
    background-color: $white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: solid 1px $light-gray;

    a {
      display: block;
      width: 30px;
      height: 30px;
      color: $light-green;
      text-decoration: none;
    }

    img {
      width: 20px;
      height: 20px;
      margin: 5px;
    }
  }

  .current {
    background-color: $light-green;
    color: $white;
  }
}
