@import "color";
@import "font";

.green-link {
  font-size: $font-small;
  color: $green;
  margin: 0 auto;

  &:hover {
    text-decoration: none;
    color: $green;
    background-color: $light-yellow;
  }

  &:visited {
    color: $green;
  }
}
