@import "color";
@import "font";

.green-link {
  font-size: $font-small;
  color: $green;
  margin: 0 auto;
}

.rounded-img {
  border-radius: 50%;
  background-position: center;
  object-fit: cover;
  border: 1px solid $light-gray;
}

.buy-button {
  font-size: $font-middle;
  text-decoration: none;
  text-align: center;
  background-color: $off-red;
  display: block;
  width: 80px;
  height: 50px;
  margin: 0 5px;
}

.sell-button {
  font-size: $font-middle;
  text-decoration: none;
  text-align: center;
  background-color: $off-blue;
  width: 80px;
  height: 50px;
  display: block;
  margin: 0 5px;
}

.watch-button {
  background-color: #ffffff;
  border: none;
  margin: 0 5px;

  img {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
  }

  &:focus {
    outline: 0;
  }
}

.ad-img {
  width: 350px;
  height: 250px;
  margin-bottom: 30px;
}

.table-header {
  background-color: $green;
  text-align: left;
  height: 40px;
  padding: 0 15px;
  line-height: 40px;

  p {
    font-size: $font-middle;
    color: $white;
  }
}
